.team{
    width: 100%;
    height: 700px;
    background: url("https://images.squarespace-cdn.com/content/v1/56a2785c69a91af45e06a188/1581365843264-DO7TUXG42RM2436XIX6K/Restaurant-Future-Leadership.png?format=1500w");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 70px;
        color: white;
    }
}


  .TeamSec{
    width: 100%;
    background-color: black;
  }
.containerTeam{
    width: 70%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
}
  .book {
    width: 31%;
    position: relative;
    border-radius: 10px;
    margin-right: 2%;
    margin-top: 5%;
    height: 250px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    text-align: center;
    p {
        font-size: 20px;
        font-weight: bolder;
        margin-left: 15%;
      }
      .cover {
        top: 0;
        position: absolute;
        background-color: lightgray;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
        transform-origin: 0;
        -webkit-box-shadow: 1px 1px 12px #000;
        box-shadow: 1px 1px 12px #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
  }

.imgTeam{
    width: 100%;
    height: 100%;
}
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  

  @media screen and (max-width: 1300px) {
    .containerTeam{
        width: 70%;
    }
    .book{
        width: 48%;
    }
  }
  @media screen and (max-width: 900px) {
    .containerTeam{
        width: 60%;
    }
    .book{
        width: 100%;
    }
  }
  @media screen and (max-width: 550px) {
    .containerTeam{
        width: 100%;
    }
    .book{
        width: 100%;
    }
  }