.loginAdmin{
    width: 40%;
    margin: 0 auto;
    .formAdmin{
        width: 80%;
        margin: 3% auto;
        border-radius: 10px;
        color: black;
    }
    .submitAdmin{
        width: 20%;
        margin: 0 auto;
        height: 50px;
        background-color: black;
    }
}


